<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>

    <form>

        <input type="number"><br>
        <button type="button" name="opiton" value="1">1</button>

        <button type="button" name="opiton" value="2">2</button>

        <button type="button" name="opiton" value="3">3</button>
        <br><button type="button" name="opiton" value="4">4</button>
        <button type="button" name="opiton" value="5">5</button>
        <button type="button" name="opiton" value="6">6</button>
        <br><button type="button" name="opiton" value="7">7</button>
        <button type="button" name="opiton" value="8">8</button>
        <button type="button" name="opiton" value="9">9</button>
        <br><button type="button" name="opiton" value="0">0</button>
        <button type="button" name="opiton" value="+">+</button>
        <button type="button" name="opiton" value="-">-</button>
        <br><button type="button" name="opiton" value="*">*</button>
        <button type="button" name="opiton" value="/">/</button>
        <button type="button" name="opiton" value="%">%</button>
    </form>
</body>

</html>