<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calculator</title>
</head>
<body>
  <form >
    <h1>Calculator</h1>

    n1 <input type="number" name="n1" value="{{a}}">
     n2 <input type="number" name="n2" value="{{b}}"><br>
     <br>
     <h2>result :{{result}}</h2><hr>
     <button value="add" name="option" type="submit">Add</button>
    
     <button value="sub" name="option" type="submit">sub</button>
     <button value="mul" name="option" type="submit">mul</button>
     <button value="div" name="option" type="submit">div</button>
     
  </form>
    
</form> 
</body>
</html>