<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list calculator</title>
</head>

<body>

    <form>
        <h1>list calculator</h1>

        n1 <input type="number" name="n1" value="{a}"><br>
        n2 <input type="number" name="n2" value="{b}"><br>

        <select name="operation">
            <option value="add">addition</option>
            <option value="sub">Subtraction</option>
            <option value="mul">multiply</option>
            <option value="div">divide</option>

        </select>
        <button type="submit">submit</button>
        <h2>result:{{result}}</h2>
    </form>
</body>

</html>